@use "./partials/variables" as v;
@use "./partials/mixins" as m;
@use "./partials/queries" as q;
@use "./sections/home";
@use "./sections/about";
@use "./sections/contact";
@use "./sections/projects";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$bg-color;
  font-family: "Inter", sans-serif;

  .wrapper {
    @include m.flex($direction: column);
    margin: 0 auto;
    width: 90%;
  }
}

main {
  margin: 20px;
}

section {
  @include m.full-screen;
  @include m.flex($direction: column)
}

footer {
  display: flex;
  justify-content: center;
}

h1 {
  color: v.$contrast-color-pink;
  text-transform: uppercase;
  @include q.small-devices {
    @include m.text-sizing($size: v.$text-lg);
  }
  @include q.laptop {
    @include m.text-sizing($size: v.$text-xl);
  }
  @include q.desktop {
    @include m.text-sizing($size: v.$text-xl);
  }
};

h2 {
  color: v.$text-color;
  text-transform: uppercase;
  @include q.small-devices {
    @include m.text-sizing($size: v.$text-md);
  }
  @include q.laptop {
    @include m.text-sizing($size: v.$text-lg);
  }
  @include q.desktop {
    @include m.text-sizing($size: v.$text-lg);
  }
}

p {
  @include q.small-devices {
    @include m.text-sizing($size: v.$text-sm);
  }
  @include q.laptop {
    @include m.text-sizing($size: v.$text-md);
  }
  @include q.desktop {
    @include m.text-sizing($size: v.$text-md);
  }
}
