@use "./partials/variables" as v;
@use "./partials/mixins" as m;
@use "./partials/queries" as q;
@use "./sections/about";
@use "./sections/contact";
@use "./sections/projects";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: v.$bg-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
  }
}

main {
  margin: 20px;
  font-family: "Inter", sans-serif;
}

section {
  @include m.full-screen;
}

// Text styling
h1 {
  color: v.$contrast-color-pink;
  text-transform: uppercase;
  @include q.phone {
    @include m.text-sizing($size: v.$text-md);
  }
  @include q.ipad {
    @include m.text-sizing($size: v.$text-md);
  }
  @include q.laptop {
    @include m.text-sizing($size: v.$text-lg);
  }
  @include q.desktop {
    @include m.text-sizing($size: v.$text-xl);
  }
};

h2 {
  color: v.$text-color;
  @include q.phone {
    @include m.text-sizing($size: v.$text-sm);
  }
  @include q.ipad {
    @include m.text-sizing($size: v.$text-md);
  }
  @include q.laptop {
    @include m.text-sizing($size: v.$text-md);
  }
  @include q.desktop {
    @include m.text-sizing($size: v.$text-lg);
  }
}

p {
  @include q.phone {
    @include m.text-sizing($size: v.$text-sm);
  }
  @include q.ipad {
    @include m.text-sizing($size: v.$text-sm);
  }
  @include q.laptop {
    @include m.text-sizing($size: v.$text-sm);
  }
  @include q.desktop {
    @include m.text-sizing($size: v.$text-sm);
  }
}

