@use "../partials/variables" as v;
@use "../partials/mixins" as m;
@use "../partials/queries" as q;

.intro-container {
  display: flex;
  gap: 20px;

  .intro-text {
    float: right;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    padding-inline-start: 0;

    li {
      list-style-type: none;
      padding: 1em;

      a {
        color: v.$contrast-color-blue;
        font-size: 3em;

        &:hover {
          color: v.$text-color;
        }
      }
    }
  }
}
