@use "../partials/variables" as v;
@use "../partials/mixins" as m;
@use "../partials/queries" as q;


.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#btnSubmit {
  width: 140px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  color: v.$text-color;

  &:hover {
    background-color: v.$contrast-color-yellow;
    box-shadow: 0px 15px 20px rgba(176, 168, 17, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}

.floating-input {
  @include m.flex($direction: column);
  margin-bottom: 20px;
  position: relative;

  input {
    background: none;
    border: none;
    border-bottom: 2px solid v.$text-color;
    margin-top: 14px;
    padding: 14px;

    &:focus {
      outline: none;
    }
  }

  textarea {
    background: hsla(0, 0%, 99%, 0.7);
    border: 2px solid v.$text-color;
    height: 240px;
    margin-top: 16px;
    padding: 14px;
    font-family: "Inter", sans-serif;

    &:focus {
      outline: none;
    }
  }
}

#contactForm {
  @include m.flex($direction: column);
}

.to-top {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
  text-transform: uppercase;

  a {
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    transform: scale(1.2);
    color: v.$contrast-color-blue;
  }
}

footer {
  p {
    @include m.text-sizing($size: v.$text-xs);
    color: v.$contrast-color-cherry;
    margin-bottom: 1.5em;
  }
}

.to-top {
  margin-block: 3rem;

  #top {
    @include m.text-sizing($size: v.$text-lg);
    color: v.$text-color;
    scroll-behavior: smooth;
  }
}
