@use "./variables";

@mixin full-screen {
  height: 100vh;
  width: 100%;
}

@mixin text-sizing($size) {
  font-size: $size;
}

@mixin heading-style($weight) {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: $weight;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

