$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 769px;
$screen-lg: 1024px;

@mixin phone {
  @media screen and (max-width: ($screen-sm - 1)){
    @content;
  }
}

@mixin small-devices {
  @media screen and (max-width: ($screen-md - 1)) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $screen-md) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $screen-lg) {
    @content;
  }
}
