$bg-color: #FFF8F0;
$text-color: rgb(0, 24, 164);
$contrast-color-blue: #0224FF;
$contrast-color-yellow: #FFC700;
$contrast-color-pink: #FF4575;
$contrast-color-cherry: #FFAEC1;

$text-sm: 1.5em;
$text-md: 2em;
$text-lg: 2.75em;
$text-xl: 4em;
