$bg-color: #FFF8F0;
$text-color: rgb(0, 24, 164);
$contrast-color-blue: #0224FF;
$contrast-color-yellow: #FFC700;
$contrast-color-pink: #FF4575;
$contrast-color-cherry: #FFAEC1;

$text-xs: 14px;
$text-sm: 18px;
$text-md: 24px;
$text-lg: 30px;
$text-xl: 42px;
